[submodule "themes/hugo-theme-cole"]
	path = themes/hugo-theme-cole
	url = https://github.com/sfengyuan/hugo-theme-cole.git
[submodule "themes/edidor"]
	path = themes/edidor
	url = https://github.com/sfengyuan/edidor.git
